*,
*::before,
*::after {
  box-sizing: border-box;
}

.page {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 400;
  color: #000000;
  background-color: #fffdf8;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 60px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wysiwyg-wrapper * {
  margin-top: 0;
}

.wysiwyg-wrapper h1 {
  margin-bottom: 32px;
  font-size: 48px;
  line-height: 1.22;
}

.wysiwyg-wrapper h2 {
  margin-bottom: 56px;
  font-size: 40px;
  line-height: 1.22;
  font-weight: 500;
  color: #9f7303;
}

.wysiwyg-wrapper h3 {
  margin-bottom: 34px;
  font-size: 32px;
  line-height: 1.22;
  font-weight: 500;
  color: #9f7303;
}

.wysiwyg-wrapper ul,
.wysiwyg-wrapper ol {
  margin-bottom: 56px;
  padding-left: 32px;
  list-style-type: none;
}

.wysiwyg-wrapper li {
  position: relative;
  margin-bottom: 8px;
}

.wysiwyg-wrapper li::after {
  position: absolute;
  top: 8px;
  left: -20px;
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  background-color: #f5d581;
  transform: rotate(45deg);
}

.wysiwyg-wrapper blockquote {
  width: 70%;
  margin: 60px auto;
  padding: 40px 100px;
  font-style: italic;
  font-size: 24px;
  line-height: 1.5;
  font-weight: 300;
  text-align: center;
  color: #9f7303;
  border-top: 1px solid #f5d581;
  border-bottom: 1px solid #f5d581;
}

.review {
  margin: 30px auto;
  padding: 0;
  list-style: none;
}

.review__item {
  display: grid;
  grid-template-areas:
    "r-avatar r-author"
    "r-avatar r-text  ";
  grid-template-columns: 50px 1fr;
  column-gap: 24px;
  row-gap: 8px;
}

.review__item:not(:last-child) {
  margin-bottom: 32px;
}

.review__image-wrapper {
  grid-area: r-avatar;
  width: 50px;
  height: 50px;
  background-color: #f9de9c;
  border-radius: 50%;
}

.review__avatar {
  display: block;
  border-radius: 50%;
  object-fit: cover;
}

.review__author {
  grid-area: r-author;
  margin: 0;
  font-size: 14px;
  line-height: 1.5;
  font-style: 500;
}

.review__text {
  grid-area: r-text;
  margin: 0;
  font-size: 18px;
  line-height: 1.8;
}

.form {
  margin: 30px auto;
}

.form__title {
  margin: 0;
  margin-bottom: 32px;
  font-size: 32px;
  line-height: 1.22;
  font-style: 500;
  color: #9f7303;
}

.review-form {
  border-bottom: 1px solid #f5d581;
}

.review-form .review-form__row {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.review-form p,
.review-form span {
  display: contents;
  margin: 0;
}

.review-form textarea,
.review-form input,
.review-form button {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 400;
}

.review-form textarea {
  width: 100%;
  min-height: 160px;
  padding: 16px;
  border: 1px solid #f5d581;
  border-radius: 5px;
  resize: vertical;
}

.review-form input {
  width: 50%;
  min-height: 64px;
  padding: 16px;
  border: 1px solid #f5d581;
  border-radius: 5px;
}

.review-form button {
  width: 285px;
  padding: 18px;
  font-weight: 500;
  color: #ffffff;
  background-color: #9f7303;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}

.review-form .review-form__notice {
  margin-left: 16px;
  font-size: 12px;
  line-height: 1.5;
  font-weight: 400;
}

.header {
  border-bottom: 1px solid #f5d581;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo .logo-link {
  display: block;
  padding: 8px;
  text-decoration: none;
  color: #000000;
}

.main-nav {
  max-width: 700px;
}

.menu-primary-container .menu {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu-primary-container a {
  display: block;
  padding: 24px 20px;
  text-decoration: none;
  color: #000000;
}

.menu-primary-container .menu-item-has-children {
  position: relative;
}

.menu-primary-container .menu-item-has-children a {
  position: relative;
  padding-right: 26px;
}

.menu-primary-container .menu-item-has-children > a::after {
  position: absolute;
  top: 50%;
  right: 5px;
  content: "";
  width: 13px;
  height: 9px;
  background-image: url("../images/arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 13px 9px;
  transform: translateY(-50%);
}

.menu-primary-container .menu-item--button a {
  padding: 6px 22px;
  border: 1px solid #9f7303;
  border-radius: 8px;
}

.menu-primary-container .menu-item a:hover {
  color: #9f7303;
}

.menu-primary-container .menu-item-has-children:hover .sub-menu {
  display: block;
}

.menu-primary-container .sub-menu {
  z-index: 5;
  position: absolute;
  top: 70%;
  left: 22px;
  display: none;
  width: 100%;
  margin: 0;
  padding: 12px 4px;
  list-style: none;
  background-color: #ffffff;
  box-shadow:
    0 4px 8px rgba(97, 97, 97, 0.18),
    0 2px 4px rgba(97, 97, 97, 0.18);
}

.menu-primary-container .sub-menu a {
  padding: 12px;
}
